*{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

a{
   text-decoration: none;
}

ul, ol {
    margin: 0px;
    padding: 0px;
}

/* li {
    list-style: none;
} */

input, button {
    box-shadow: none;
    outline: none;
}


.img1{
    width: 100%;
    height: 500px;
    position: relative;
}

.heading{
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    position: absolute;
    bottom: 775px;
    opacity: 0.5;
    padding: 20px 50px;
    padding-right: 885px;
}

.u{
    font-size: 50px;
}

.box{
    height: 10px;
    width: 28px;
    background-color: skyblue;
}

.heading2{
    background-color: rgb(240, 211, 81 );
    color: white;
    font-size: 50px;
    padding: 50px 60px;
    position: absolute;
    bottom: 447px;
    left: 0px;
    padding-right: 642px;  
    opacity: 0.5; 
    height: 205px;
    line-height: 50px;
}

.programmig{
    font-size: 45px;
}

.list{
    list-style-type: square;
    font-size: 30px;
    color: white;
    padding: 30px 0px;
    padding-left: 350px;
    padding-right: 50px;
}
.data{
    background-color: gainsboro;
    /* padding-left: 25px; */
    position: absolute;
    bottom:650px;
    left: 0px;
    opacity: 0.5;
    text-align: right; 
    direction: rtl; 
    width:500px;
    height: 450px;
    padding-top: 140px;
    line-height: 40px; 
}

.data1{
    color: white;
    background-color: rgb(64, 64, 64);
    opacity: 0.5;
    text-align: end;
    position: absolute;
    bottom: 410px;
    right: 0px;
}

.name{
    font-size: 40px;
    color: rgb(206, 2, 2);
}

.name1{
    font-size: 25px;
    color: rgb(85, 84, 84);
}

.our_cmp{
    font-size: 15px;
    color: rgb(206, 2, 2);
}

.coded{
    font-size: 30px;
    color: rgb(85, 84, 84);;
}

.name3{
    font-size: 13px;
}

.name4{
    font-size: 12px;
    padding: 15px 0px;
    text-align: left;
    color: rgb(92, 91, 91);
    text-transform: uppercase;
}

.name5{
    font-size: 12px;
    text-align: left;
    color: rgb(92, 91, 91);
    text-transform: uppercase;
}
.heading4{
    background-color: rgb(191, 191, 191);
    padding: 20px 50px;
}

.heading3{
    padding: 20px 50px;
}

.data2{
    background-color: rgb(6, 149, 220);
    color: white;
    text-align: left;
    padding: 60px 60px;
    display: flex;
}

.img2{
    width: 80px;
    height: 80px;
}

.coded1{
    font-size: 30px;
}

.second{
    font-size: 40px;
    color: rgb(0, 179, 203);
}

.end{
    font-size: 25px;
    color: rgb(111, 111, 111);
}

.trophy{
    font-size: 40px;
}

.end1{
    font-size: 15px;
    color: rgb(111, 111, 111);    
}

.name10{
    font-size: 10px;
    color: rgb(111, 111, 111); 
    text-transform: uppercase; 
}

.name11{
    font-size: 10px;
    color: rgb(111, 111, 111); 

}