*{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

a{
   text-decoration: none;
}

ul, ol {
    margin: 0px;
    padding: 0px;
}

/* li {
    list-style: none;
} */

input, button {
    box-shadow: none;
    outline: none;
}


.img1{
    width: 100%;
    height: 500px;
    position: relative;
}

.heading{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.456);
    position: absolute;
    bottom: 790px;
    /* opacity: 0.5; */
    padding: 20px 50px;
    padding-right: 885px;
}

.u{
    font-size: 50px;
}

.box{
    height: 10px;
    width: 28px;
    background-color: skyblue;
}

.heading2{
    background-color: rgba(193, 185, 50, 0.456);
    color: white;
    font-size: 50px;
    padding: 50px 60px;
    position: absolute;
    bottom: 462px;
    left: 0px;
    padding-right: 642px;  
    /* opacity: 0.5;  */
    height: 190px;
    line-height: 50px;
}

.programmig{
    font-size: 45px;
}

.list{
    list-style-type: square;
    font-size: 30px;
    color: white;
    padding: 30px 0px;
    padding-left: 350px;
    padding-right: 50px;
}
.data{
    background-color: rgba(227, 225, 225, 0.456);
    /* padding-left: 25px; */
    position: absolute;
    bottom:650px;
    left: 0px;
    /* opacity: 0.5; */
    text-align: right; 
    direction: rtl; 
    width:500px;
    height: 450px;
    padding-top: 140px;
    line-height: 40px; 
}

.data1{
    color: white;
    background-color: rgba(64, 64, 64, 0.456);
    /* opacity: 0.5; */
    text-align: end;
    position: absolute;
    bottom: 460px;
    right: 0px;
    width: 515px;
    /* padding-right: 80px; */
    padding: 35px 40px;
    overflow: hidden;
}

.name{
    font-size: 40px;
    color: rgb(206, 2, 2);
}

.name1{
    font-size: 25px;
    color: rgb(85, 84, 84);
}

.our_cmp{
    font-size: 15px;
    color: rgb(206, 2, 2);
}

.coded{
    font-size: 30px;
    color: rgb(85, 84, 84);;
}

.name3{
    font-size: 13px;
}

.name4{
    font-size: 12px;
    padding: 15px 0px;
    text-align: left;
    color: rgb(92, 91, 91);
    text-transform: uppercase;
}

.name5{
    font-size: 12px;
    text-align: left;
    color: rgb(92, 91, 91);
    text-transform: uppercase;
}

.name6{
    border: 5px solid  rgb(206, 2, 2);
}

.border{
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 50px;
    margin-bottom: -30px;
}

.heading4{
    background-color: rgb(234, 234, 234);
    padding: 30px 50px;
    margin-right: -15px;
    margin-bottom: -15px;
}

.heading3{
    padding: 20px 50px;
    margin-right: -15px;
    margin-bottom: 35px;
}

.data2{
    background-color: rgb(6, 149, 220);
    color: white;
    text-align: left;
    padding: 60px 60px;
    display: flex;
    margin-left: -15px;
}

.data3{
    margin-left: -15px;
    text-align: right;
    padding: 0px 30px;
}

.img2{
    width: 80px;
    height: 80px;
}

.coded1{
    font-size: 30px;
}

.second{
    font-size: 40px;
    color: rgb(0, 179, 203);
}

.end{
    font-size: 25px;
    color: rgb(111, 111, 111);
}

.trophy{
    font-size: 40px;
}

.end1{
    font-size: 15px;
    color: rgb(111, 111, 111);    
}

.name10{
    font-size: 10px;
    color: rgb(111, 111, 111); 
    text-transform: uppercase; 
    padding-left: 180px;
}

.name11{
    font-size: 10px;
    color: rgb(111, 111, 111); 
}

.main_div{
    line-height: 22px;
    padding-top: 30px;
}

.logo{
    color: rgb(226, 221, 221);
    font-size: 12px;
}

